# This is Jeopardy!

#### Overview

This project is slightly different than others you have encountered thus far. Instead of a step-by-step tutorial, this project contains a series of open-ended requirements which describe the project you'll be building. There are many possible ways to correctly fulfill all of these requirements, and you should expect to use the internet, Codecademy, and/or other resources when you encounter a problem that you cannot easily solve.

#### Project Goals

You will work to write several functions that investigate a dataset of _Jeopardy!_ questions and answers. Filter the dataset for topics that you're interested in, compute the average difficulty of those questions, and train to become the next Jeopardy champion!

## Prerequisites

In order to complete this project, you should have completed the Pandas lessons in the <a href="https://www.codecademy.com/learn/paths/analyze-data-with-python">Analyze Data with Python Skill Path</a>. You can also find those lessons in the <a href="https://www.codecademy.com/learn/data-processing-pandas">Data Analysis with Pandas course</a> or the <a href="https://www.codecademy.com/learn/paths/data-science/">Data Scientist Career Path</a>.

Finally, the <a href="https://www.codecademy.com/learn/practical-data-cleaning">Practical Data Cleaning</a> course may also be helpful.

## Project Requirements

1. We've provided a csv file containing data about the game show _Jeopardy!_ in a file named `jeopardy.csv`. Load the data into a DataFrame and investigate its contents. Try to print out specific columns.

   Note that in order to make this project as "real-world" as possible, we haven't modified the data at all - we're giving it to you exactly how we found it. As a result, this data isn't as "clean" as the datasets you normally find on Codecademy. More specifically, there's something odd about the column names. After you figure out the problem with the column names, you may want to rename them to make your life easier for the rest of the project.
   
   In order to display the full contents of a column, we've added this line of code for you:
   
   ```py
   pd.set_option('display.max_colwidth', None)
   ```

In [1]:
import pandas as pd
pd.set_option('display.max_colwidth', None)

2. Write a function that filters the dataset for questions that contains all of the words in a list of words. For example, when the list `["King", "England"]` was passed to our function, the function returned a DataFrame of 49 rows. Every row had the strings `"King"` and `"England"` somewhere in its `" Question"`.

   Test your function by printing out the column containing the question of each row of the dataset.

In [2]:
jeopardy = pd.read_csv("jeopardy.csv")
df = jeopardy.rename(columns={"Show Number": "show_no",
                              " Air Date": "date",
                              " Round": "round",
                              " Category": "category",
                              " Value": "value",
                              " Question": "question",
                              " Answer": "answer"
                             })
df.head()
len(df)

216930

In [3]:
df[df.question.str.contains("King")]

,show_no,date,round,category,value,question,answer
56,5957,2010-07-06,Jeopardy!,"GEOGRAPHY ""E""",$200,It's the largest kingdom in the United Kingdom,England
399,2825,1996-12-06,Double Jeopardy!,POETS,$400,"Between 1842 & 1885, he repeatedly revised his ""Idylls of the King""",Alfred Lord Tennyson
545,3036,1997-11-10,Jeopardy!,ON THE RADIO,$200,"Robin Quivers is the radio consort of this self-proclaimed ""King of All Media""",Howard Stern
811,4335,2003-06-06,Double Jeopardy!,"""S""-OTERICA",$400,"Examples of this TV format include ""Leave It to Beaver"" & ""The King of Queens""",sitcom
1074,4085,2002-05-10,Jeopardy!,CENTRAL PARK,$400,"Central Park has a statue of King Wladyslaw II Jagiello of this country, who was also Grand Duke of Lithuania",Poland
...,...,...,...,...,...,...,...
216572,2046,1993-06-28,Jeopardy!,TRAVEL U.S.A.,$100,"You have to stand up to ride Shockwave, this type of thrill ride at Kings Dominion in Virginia",a roller coaster
216675,3940,2001-10-19,Double Jeopardy!,"""CAB""",$600,"Stephen King's 1980 overview of the horror genre was called ""Danse"" this",Macabre
216752,5070,2006-09-29,Jeopardy!,SIGNING OFF,$200,"Upon signing his name in 1776 he said, ""There, King George will be able to read that without his spectacles""",(John) Hancock
216777,5070,2006-09-29,Double Jeopardy!,ANCIENT HISTORY,$400,The first one of these tombs was built about 2650 B.C. by Imhotep for King Zoser & rose about 200 feet using steps,a pyramid (the pyramids accepted)
216787,5070,2006-09-29,Double Jeopardy!,TALES OF E.T.A. HOFFMANN,"$2,000","A Hoffmann tale title lost the words ""And The Mouse King"" when it became this Tchaikovsky ballet",The Nutcracker

In [4]:
def questionSearch(entry: list) -> pd.DataFrame:
    i, j = entry
    found = df[df.question.str.contains(i) & df.question.str.contains(j)]
    return found
questionSearch(["King","England"]).head()

,show_no,date,round,category,value,question,answer
4953,3003,1997-09-24,Double Jeopardy!,"""PH""UN WORDS",$200,"Both England's King George V & FDR put their stamp of approval on this ""King of Hobbies""",Philately (stamp collecting)
14912,2832,1996-12-17,Jeopardy!,WORLD HISTORY,$100,"This country's King Louis IV was nicknamed ""Louis From Overseas"" because he was raised in England",France
21511,4650,2004-11-19,Jeopardy!,"THE ""O.C.""",$1000,this man and his son ruled England following the execution of King Charles I,Oliver Cromwell
23810,4862,2005-11-01,Jeopardy!,NAME THE YEAR,$400,William the Conqueror was crowned King of England in Westminster Abbey on Christmas Day in this year,1066
27555,1799,1992-05-28,Double Jeopardy!,HISTORIC IN-LAWS,$600,This member of the Medici family was the mother-in-law of England's King Charles I,Marie de Medici

3. Test your original function with a few different sets of words to try to find some ways your function breaks. Edit your function so it is more robust.

   For example, think about capitalization. We probably want to find questions that contain the word `"King"` or `"king"`.
   
   You may also want to check to make sure you don't find rows that contain substrings of your given words. For example, our function found a question that didn't contain the word `"king"`, however it did contain the word `"viking"` &mdash; it found the `"king"` inside `"viking"`. Note that this also comes with some drawbacks &mdash; you would no longer find questions that contained words like `"England's"`.

In [70]:
def betterSearch(dataframe:pd.DataFrame ,entry: list) -> pd.DataFrame:
    conditions = dataframe.question.apply(lambda x: all(substring in x for substring in entry))
    return dataframe[conditions]
len(betterSearch(df,["King","England"]))

49

4. We may want to eventually compute aggregate statistics, like `.mean()` on the `" Value"` column. But right now, the values in that column are strings. Convert the`" Value"` column to floats. If you'd like to, you can create a new column with float values.

   Now that you can filter the dataset of question, use your new column that contains the float values of each question to find the "difficulty" of certain topics. For example, what is the average value of questions that contain the word `"King"`?
   
   Make sure to use the dataset that contains the float values as the dataset you use in your filtering function.

In [6]:
df['value'] = df.value.apply(lambda x: float(x.strip("$").replace(',','').replace('None', '0')))

In [55]:
betterSearch(df,["King"]).value.mean()

773.4413965087282

5. Write a function that returns the count of unique answers to all of the questions in a dataset. For example, after filtering the entire dataset to only questions containing the word `"King"`, we could then find all of the unique answers to those questions. The answer "Henry VIII" appeared 55 times and was the most common answer.

In [56]:
# betterSearch(["King"]).groupby(betterSearch(["King"]).answer)
filterSearch = betterSearch(df,["King"])
filterSearch.answer.value_counts()

Sweden                               19
Scotland                             11
Norway                               11
Denmark                              10
Morocco                              10
                                     ..
blood poisoning                       1
the Hundred Years' War                1
Warsaw                                1
the May King                          1
a pyramid (the pyramids accepted)     1
Name: answer, Length: 1115, dtype: int64

6. Explore from here! This is an incredibly rich dataset, and there are so many interesting things to discover. There are a few columns that we haven't even started looking at yet. Here are some ideas on ways to continue working with this data:

 * Investigate the ways in which questions change over time by filtering by the date. How many questions from the 90s use the word `"Computer"` compared to questions from the 2000s?
 * Is there a connection between the round and the category? Are you more likely to find certain categories, like `"Literature"` in Single Jeopardy or Double Jeopardy?
 * Build a system to quiz yourself. Grab random questions, and use the <a href="https://docs.python.org/3/library/functions.html#input">input</a> function to get a response from the user. Check to see if that response was right or wrong.

In [78]:
start = pd.to_datetime('1990-01-01')
end = pd.to_datetime('2000-01-01')
df['date'] = pd.to_datetime(df['date'])
nineties = df[(df.date > start) & (df.date< end)]
twoThousands = df[(df.date > pd.to_datetime("2000-01-01")) & (df.date< pd.to_datetime("2010-01-01"))]

In [85]:
betterSearch(nineties, ["Computer"]).question.count()

8

In [86]:
betterSearch(twoThousands, ["Computer"]).question.count()

25